<main class="text-center" style="margin-top: 90px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <kendo-dropdownlist
                    [data]="dataBooks"
                    [value]="selectedBook"
                    [defaultItem]="defaultItemBook"
                    [textField]="'bookName'"
                    [valueField]="'bookId'"
                    (valueChange)="handleBookChange($event)"
                >
                </kendo-dropdownlist>
                <kendo-dropdownlist
                    [disabled]="isDisabledChapters"
                    [defaultItem]="defaultItemChapter"
                    [data]="dataResultChapters"
                    [value]="selectedChapter"
                    [textField]="'chapterName'"
                    [valueField]="'chapterId'"
                    (valueChange)="handleChapterChange($event)"
                >
                </kendo-dropdownlist>
                <kendo-dropdownlist
                    [disabled]="isDisabledVerses"
                    [defaultItem]="defaultItemVerse"
                    [data]="dataResultVerses"
                    [value]="selectedVerse"
                    [textField]="'verseName'"
                    [valueField]="'verseId'"
                    (valueChange)="handleVerseChange($event)"
                >
                </kendo-dropdownlist>
            </div>
        </div>
        <div class="row mt-3" *ngIf="showVerse">
            <div class="col">
                <div class="card">
                    <div class="gradient-card-header peach-gradient">
                        <h2>{{verseTitle}}</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">
                            {{verseLocation}} "{{verseText}}"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
