<main class="text-center py-5" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card card-cascade wider">
                    <div class="view gradient-card-header peach-gradient">
                        <h2 class="h2-responsive mb-2">Genesis</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text mr-2 ml-2">
                          Chapters 1 - 30
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
