<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-7 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">About</h4>
            <div class="card-text">
              <ul class="list-group list-group-flush">
                <!-- Website Version -->
                <li class="list-group-item">
                  <h6>
                    <a href="https://github.com/xinthose/personal_website/blob/master/CHANGELOG.md">Website Version:
                      {{websiteVersion}}</a>
                  </h6>
                </li>
                <!-- Copyright -->
                <li class="list-group-item">
                  <h6>
                    <a href="https://github.com/xinthose/personal_website">Github Repository</a>
                  </h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
