<!-- Appbar -->
<kendo-appbar position="top" positionMode="sticky" themeColor="dark">
  <!-- Title -->
  <kendo-appbar-section>
    <h3>Xinthose</h3>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>
  <!-- Navigation -->
  <kendo-appbar-section>
    <button kendoButton (click)="router.navigate(['bible'])" [themeColor]="bibleSelected ? 'primary' : 'base'"
      class="navbar_button">
      <fa-icon [icon]="faBookBible" class="me-2"></fa-icon>
      Bible
    </button>
    <kendo-appbar-spacer width="15px"></kendo-appbar-spacer>
    <button kendoButton (click)="router.navigate(['about'])" [themeColor]="aboutSelected ? 'primary' : 'base'"
      class="navbar_button">
      <fa-icon [icon]="faCircleInfo" class="me-2"></fa-icon>
      About
    </button>
  </kendo-appbar-section>
</kendo-appbar>

<router-outlet>
</router-outlet>
