<!-- Header -->
<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top scrolling-navbar" [containerInside]="false">
        <logo>
            <a class="logo navbar-brand" routerLink="/home">
                <strong>{{title}}</strong>
            </a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <nav>
                        <a class="nav-link" routerLink="/bible">Bible</a>
                    </nav>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Doctrine</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Code</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>
<!-- Body -->
<router-outlet></router-outlet>