<main class="text-center py-5" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>Website Hosted</h4>
                            <p><i class="fa fa-calendar"></i> 4/28/2019</p>
                        </mdb-card-title>
                        <mdb-card-text>
                            This website was hosted on domain www.xinthose.com
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-lg-4 col-md-6">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>Website Creation</h4>
                            <p><i class="fa fa-calendar"></i> 12/27/2017</p>
                        </mdb-card-title>
                        <mdb-card-text>
                            This website Github project was created and work officially started on it.
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</main>