<main class="text-center py-5" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card card-cascade wider">
                    <div class="view gradient-card-header peach-gradient">
                        <h2 class="h2-responsive mb-2">Website Creation</h2>
                        <p class=""><i class="fa fa-calendar"></i> 12-27-2017</p>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text mr-2 ml-2">
                          This website was created and work officially started on it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
